.grid
	border: 1px solid #ccc
	&__header,
	&__row
		display: flex
		width: 100%
		+r(500)
			flex-direction: column
	&__header
		color: lighten($darkGray, 20%)
		background: #ccc
		+f(18px, 700, 20px)
		border-bottom: 1px solid #ccc
		+r(500)
			display: none
	&__row
		align-items: center
		flex-wrap: wrap
		+r(500)
			align-items: inherit
			padding: 15px
		&:not(:last-child)
			border-bottom: 1px solid #ccc
	&__column
		flex: 1 1 33.33%
		padding: 10px 
		width: 33.33%
		font-size: 16px
		+r(500)
			flex-basis: 100%
			padding: 5px
			width: 100%
		&_wide
			padding-bottom: 0
			flex-basis: 100%
			width: 100%