.icon-angle-down {
  width: 1.71em;
  height: 1em;
  fill: initial;
}
.icon-arrow-left {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-check {
  width: 1.3em;
  height: 1em;
  fill: initial;
}
.icon-checked-all {
  width: 1.11em;
  height: 1em;
  fill: #8F9598;
}
.icon-checked {
  width: 1.12em;
  height: 1em;
  fill: #2C7747;
}
.icon-close {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-question-option {
  width: 1em;
  height: 1em;
  fill: initial;
}
