.icon-angle-down {
  width: 1.71em;
  height: 1em;
  fill: initial;
}
.icon-arrow-left {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-check {
  width: 1.3em;
  height: 1em;
  fill: initial;
}
.icon-close {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-question-option {
  width: 1em;
  height: 1em;
  fill: initial;
}
